/*AVANCES*/
body {
    font-family: "Montserrat", cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
}

main {
    flex-grow: 1;
}



h1, h2, h3,p {
    color: #333;
}
h1{
    font-size: 2em;
}

h2{
    font-size: 1.2em;
    text-decoration: underline;
    
}

h3{
    font-size: 0.938em;
}


.color-palette-table {
    width: auto; 
    border-collapse: collapse;
    margin: 20px auto;
    margin-bottom: 20px; 
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.table-bordered thead th {
    background-color: rgb(28, 51, 63); /* Usa el mismo color de fondo que el header */
    color: white; /* Asegúrate de que el texto sea legible sobre el fondo oscuro */
}
.color-palette-table th, .color-palette-table td {
    font-family: "Montserrat", cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.938em;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.color-palette-table th {
    background-color: #111010;
    font-weight: bold;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    margin-right: 5px;
    vertical-align: middle;
}


ul li ul { 
    display: flex; 
    align-items: center; 
}

.logo-feria {
    max-width: 150px;
    height: auto;
    margin-right: 10px; 
}
.logos{
    list-style-type: none; 
    padding-left: 0; /* Elimina el padding izquierdo por defecto de la lista */
    margin-left: 0; /* Elimina el margen izquierdo por defecto de la lista */
    display: flex; /* Activa flexbox para alinear los elementos en fila */
    align-items: center; /* Opcional: alinea verticalmente los logos al centro */
}

.logos li {
    margin-right: 10px; /* Opcional: añade espacio entre los logos */
}

.logos li:last-child {
    margin-right: 0; /* Opcional: elimina el margen derecho del último logo */
}



/*HEADER & FOOTER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(28, 51, 63);
}

.nav-link{
    font-family: "Montserrat", cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 0.938em;
}
.nav-link:hover{
    color: white;
    text-decoration: underline;
    }
.nav-pills .nav-link.active{
    background-color: black;
    color: white; 
    font-size: 0.938em;
}


.logo-uade{
    width: 6em;
    height: auto;
    margin-right: auto;
    border-radius: 5px;
}


footer .nav-item-footer .nav-link {
    font-family: "Montserrat", cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    color: #555;
    text-decoration: none;
}


footer .nav-item-footer .nav-link:hover {
    color: #007bff; 
    text-decoration: underline; 
}


footer p.text-center {
    font-family: "Montserrat", cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    color: #777; /
}


/*HOME*/
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5PX 5px 5px  rgb(0, 40,60)
}

th, td{
    font-family: "Montserrat", cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.938em;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
    border: 2px solid  rgb(19, 45, 58);
    padding: 8px;
    text-align: center;
}

th{
    background-color: rgb(19, 45, 58);
    color: white;
}
.titulo-home, .titulo-avisos{
    font-family: "Montserrat", cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.563em;
    text-align: left;
    box-shadow: 5px 5px 5px 5px  rgb(0, 40,60);
    border-radius: 10px;
}
.home-presentacion{
    font-family: "Montserrat", cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    text-align: center;
    box-shadow: 5px 5px 5px 5px  rgb(0, 40,60);
    border-radius: 20px;
}
